.button{
    color: #ffffff;
    background:#5F457D;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 1px 4px 0 rgba(0,0,0,0.1), 0 2px 1px -1px rgba(0,0,0,0.15);
    border-radius:2px;
    border: none;
    height:36px;
    padding: 0 20px;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

.button:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    background: #492C6B;
}
.productDetails {
	position: relative;
}
.productDetails:after, .productDetails:before {
	bottom: 100%;
	left: 5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.productDetails:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #f4f4f4;;
	border-width: 30px;
	margin-left: -30px;
}
.productDetails:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #f4f4f4;
}
input.inputEstimate{
    font-size: 30px;
    height: 45px;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 24px;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
    -webkit-transition: background-color .3;
    transition: background-color .3;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: #492C6B;
}

input.inputEstimate:hover,
input.inputEstimate:focus{
    background-color: #492C6B;
    border: 1px solid #492C6B;
    color: #ffffff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.icons{
    text-align: right;
}
.subHeadings>p{
    font-size: 18px;
}
.productDetails{
    margin: 15px 0;
    padding: 20px;
    position: relative;
    
}
.productImg{
    height: 43px;
    padding: 5px;
}
.clonebtn{
    background: #0072c6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.1);
    border: none;
    color: #fff;
    line-height: 18px;
    margin: 25px 0 12px 0;
    padding: 10px;
    text-align: center;
    transition: background .3s;
    width: 100%;
    
}
.deletebtn{
    background: #0072c6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.1);
    border: none;
    color: #fff;
    line-height: 18px;
    margin: 7px 0 12px 0;
    padding: 10px;
    text-align: center;
    transition: background .3s;
    width: 100%;
    
}
.infoDiv p a{
    font-size: 17px
}
.infoDiv p a:hover{
    text-decoration: none;
    cursor: pointer;
    color: #492C6B;
}
.inputDetails{
    margin-top: 5%;
    padding-left: 0px;
}
.selectBox{
    margin-left: 10px;
}
.selectBox select{
    border-radius: 0px !important;
}
.headers p{
    font-size: 17px;
    color: #5F457D;
}
.headers a:hover {
    text-decoration: none;
    color: #337ab7;
    cursor: pointer;
}
.productDetails hr{
    width: 100%;
    border: 1px solid silver;
}
.estimation{
    margin-top: 15px;
    font-weight: bold;
    padding: 0px;
}

.supportPrice{
    padding-top: inherit;
    font-size: 20px;
    text-align: right;
}
select{
    border-radius: 0px;
    font-size: 18px;
}
.exportbtn{
    background: #0072c6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.1);
    border: none;
    color: #fff;
    line-height: 18px;
    padding: 10px;
    transition: background-color .3s;
    width: 35%;
}
.programsDiv{
    margin-top: 0px
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.has-error .form-control{
    border-color: none;
}
.headers .icon{
    color: #0072c6;
    background-color: #fff;
    font-size: 12px;
}
h3{
    border-bottom: 1px solid #BCBCBC;
    padding-bottom: 14px;
    margin-bottom: 18px;
    margin-top:30px;
}
.header-hr{
    background-color: #D8D8D8;
    height: 1px;
    margin: 2px 0 16px 0; 
}

.estimate-resource-entry{
    margin-top: 10px;
}
.mainEstimateDiv > div:last-child,
.mainEstimateDiv > div:nth-last-child(2),
.mainEstimateDiv > div:nth-last-child(4),
.mainEstimateDiv > div:first-child{
    border-bottom: none;
}

.total-hr {
    background-color: #4A4A4A;
    height: 2px;
}

.form-check{
    margin-bottom: 18px;
}

.form-check-label{
    font-size: 14px;
    font-weight: normal;
    color: #7B7B7B;
}

.form-control{
    display: inline-block;
    width: calc((100% - 24px));
}

.info-icon{
    display: inline-block;
}

.info-icon i {
    color: rgb(3, 114, 176);
    border-radius: 50%;
    font-size: 16px;
    margin-left: 3px;
}

.grand-total-row{
    margin-top:15px;
    margin-bottom:15px;
    padding: 0px;
}
.grand-total-value{
    text-align:right;
    font-size:25px;
}
.estimateHeader{
    padding: 20px 0px;
    min-height: 150px;
    background-color: #492C6B;
}
.dateSet{
    color: #B5A9C5;
    font-size: 20px;
}

