<div class="mainEstimateDiv">
    <div class="estimateHeader">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-10">
                    <!-- Change name of resource -->
                    <form>
                        <div class="form-group estimate-name">
                            <input type="email" class="form-control inputEstimate" value="Name Your Estimate" placeholder="">
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-2 icons">
                    <a (click)="collapseAll()">
                        <span class="glyphicon glyphicon-lg glyphicon-book"></span>
                    </a>
                    <a (click)="deleteAll();">
                        <span class="glyphicon glyphicon-lg glyphicon-trash"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="dateSet col-sm-12">
            <div class="col-sm-3" style="padding-left: 0px;"> Peroid Of Performance </div> 
            <div class="col-sm-2" style="padding: 0px;"> <my-date-picker name="mydate" [options]="myDatePickerOptions" [(ngModel)]="startDate" (dateChanged)="onStartDateChanged($event)"></my-date-picker> </div> 
            <span class="col-sm-1 text-center" style="padding: 0px;" > - </span>
            <div class="col-sm-2" style="padding: 0px;"> <my-date-picker name="mydate" [options]="myDatePickerOptions" (dateChanged)="onEndDateChanged($event)" [(ngModel)]="endDate"></my-date-picker> </div>
            </div>
        </div>
    </div>


    <!-- Every Singal Resource have seperate component -->
    <div class="estimate-resource-entry" *ngFor="let resource of products;let i = index" #resource.title>
        <!-- <estimeate-resource
                [resource]="resource"
                [index]="i"
                (changeCost)="makeGrandTotal()"
                (onClone)=cloneResource($event)
                (onDelete)=deleteResource($event)
        ></estimeate-resource> -->
        <!-- <ng-container ad-host></ng-container> -->

        <virtual-machine *ngIf="resource.component === 'vm'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></virtual-machine>
        <storage *ngIf="resource.component === 'storage'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></storage>
        <addtional-cpu *ngIf="resource.component === 'cpu'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></addtional-cpu>
        <addtional-ram *ngIf="resource.component === 'ram'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></addtional-ram>
        <centos *ngIf="resource.component === 'centos'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></centos>
        <network-logs *ngIf="resource.component === 'nlogs'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></network-logs>
        <object-web-storage *ngIf="resource.component === 'owstorage'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></object-web-storage>
        <on-demand-backup *ngIf="resource.component === 'odbackup'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></on-demand-backup>
        <patch-managemaent *ngIf="resource.component === 'patchmanagement'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></patch-managemaent>
        <red-hat-enterprise-linux *ngIf="resource.component === 'linux'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></red-hat-enterprise-linux>
        <routable-external-ip *ngIf="resource.component === 'reip'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></routable-external-ip>
        <server-logs *ngIf="resource.component === 'slogs'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></server-logs>
        <standard-daily-backup *ngIf="resource.component === 'sdbackup'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></standard-daily-backup>
        <vpn-service *ngIf="resource.component === 'vpn'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></vpn-service>
        <vulnerability *ngIf="resource.component === 'vul'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></vulnerability>
        <windows *ngIf="resource.component === 'win'" [resource]=resource [index]="i" (changeCost)="makeGrandTotal()" (onClone)=cloneResource($event) (onDelete)=deleteResource($event)></windows>
        
    </div>
<!--  -->


    <!-- <hr class="total-hr"> -->
    <div class="grand-total-row col-sm-12">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <h4>Estimated monthly cost</h4>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-8 grand-total-value" *ngIf="grandTotal !== 0">${{ grandTotal }}</div>
        <div class="col-sm-12 col-md-6 col-lg-8 grand-total-value" *ngIf="grandTotal === 0">$0.00</div>
    </div>
    <div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <button class="button"><span class="glyphicon glyphicon-book"></span> <span>Export</span></button>
        </div>
    </div>
</div>
<!-- <ng-template ad-host></ng-template> -->
