<div class="notification" [class.showNotification]="notification.status"> <img src="./../../../assets/img/virtual-icon.png" height="23">  {{ notification.message }} <a class="veiw"  href="#" name="{{ notification.linkUrl }}"> Veiw </a></div>