.notification{
    float: right;
    padding: 20px 30px;
    background-color: rgba(0,0,0,.9);;
    position: fixed;
    bottom: 15%;
    max-width: 450px;
    right: -450px;
    text-align: center;
    z-index: 1001;
    color: white;
    font-weight: bold;
    transition-property: right;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.veiw{
    color: white;
    float: right;
    cursor: pointer;
    padding-right: 5px;
    padding-left: 10px;
    color: green;
}
.showNotification{
    right: 0px;
}
.hideNotification{
    right: -450px;
}