<div>
    <div>
        <form [formGroup]="searchFrom">
            <div class="form-group">
                <input type="email" formControlName="searchValue" class="form-control" id="exampleInputEmail1" placeholder="Search Products" (keyup)="inputChange.emit($event)">
            </div>
        </form>
    </div>
    <!-- <div *ngIf="!showNav">
        <button type="button" class="btn btn-primary col-sm-3"  style="font-size:17px" (click)="back()">
                  <span class="glyphicon glyphicon-menu-left"></span> Back
                </button>
        <span class="glyphicon glyphicon-search searchIcon"></span>
    </div> -->
</div>