<div>
<div class="container-fluid app-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-2">
                <img src="./../../../assets/img/milcloud-logo.png" class="app-header-logo">
            </div> 
            <div class="col-sm-12 col-md-12 col-lg-7 top-nav">
                <ul>
                    <li><a>Getting Started</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3 pull-right">
                <p class="disclaimer">Disclaimer: All data and prices are samples</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid calc-hero">
    <div class="row">
        <div class="container">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1>MilCloud 2.0 Pricing Calculator</h1>      
                <h2>Estimate infrastructure costs on MilCloud 2.0</h2>
            </div>
        </div>    
    </div>
</div>
<div class='container background'>
    <!--<div class="col-sm-2"></div>-->
    <div class="row">
        <div class="mainDiv col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="childDiv col-sm-12 card">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="products">Products</h3>
                            <p>Select a product to include it in your estimate.</p>
                        </div>
                    </div>
                    <search-bar (change)="update($event)" [showNav]="showNavBar" (navBar)="show()"></search-bar>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12 col-md-3 col-lg-3" [class.hidden]="!showNavBar">
                                    <nav-menu (selectedItem)="selectedItem($event)" [searchKey]="searchInput"></nav-menu>
                                </div>
                            
                                <div class="col-sm-12 col-md-9" [class.col-lg-12]="!showNavBar" [class.col-lg-9]="showNavBar">
                                    <!-- <router-outlet></router-outlet> -->
                                    <resources-list [products]="productsAvailable" (selectedProcduct)="addProductToList($event)"></resources-list>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <!-- <div class="col-sm-2"></div> -->
                <div class="col-sm-12 col-md-12 col-lg-12 estimateDiv card">
                    <estimate-products [products]="productSelected"></estimate-products>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 purchaseOptionsMainDiv card">
            <div class="row">   
                <div class="col-sm-12 col-md-12 col-lg-12 purchaseChildDiv">
                    <div class="col-sm-12 col-md-12 col-lg-8">
                        <div class="purchaseText">Prices are estimates and are not intended as actual price quotes. Actual prices may vary depending upon the date
                            of purchase, and type of agreement you enter milCloud.</div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4" style="text-align:right">
                        <button class="button-lg">Purchase Options  <span class="glyphicon glyphicon-menu-right"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <ul>
                    <li><a>Footer Link</a></li>
                    <li><a>Footer Link</a></li>
                    <li><a>Footer Link</a></li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <ul>
                    <li><a>Footer Link</a></li>
                    <li><a>Footer Link</a></li>
                    <li><a>Footer Link</a></li>
                </ul>     
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <ul>
                    <li><a>Footer Link</a></li>
                    <li><a>Footer Link</a></li>
                    <li><a>Footer Link</a></li>
                </ul>       
            </div>
        </div>
    </div>
</footer>
</div>