@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

/* These styles need to be moved a modified a bit */

.mainDiv{
    margin: 25px auto 0 auto;

}
.heading{
    padding: 15px;
    background-color: #0072c6;
    font-weight: bold;
    color: #ffffff;
}

.button{
    color: #ffffff;
    background:#5F457D;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 1px 4px 0 rgba(0,0,0,0.1), 0 2px 1px -1px rgba(0,0,0,0.15);
    border-radius:2px;
    border: none;
    height:36px;
    padding: 0 20px;
    transition: all .2s ease-in-out;
}

.button:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    background: #492C6B;
}

.button-lg{
    color: #ffffff;
    background:#5F457D;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 1px 4px 0 rgba(0,0,0,0.1), 0 2px 1px -1px rgba(0,0,0,0.15);
    border-radius:2px;
    border:0;
    font-size: 16px;
    font-weight: bold;
    height:48px;
    padding: 0 20px;
    transition: all .2s ease-in-out;
}

.button-lg:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    background: #492C6B;
}
.estimateDiv{
    padding: 0px 0px 25px 0px; 
}
.purchaseText{
    font-size: 17px;
    text-align: justify;
    color: #646464;
}
.hidden{
    display: none;
}