<div class="mainProductDiv" id={{resource.shortKey}}>
    <div class="">
        <div class="col-sm-12 col-lg-12 headers">
            <div>
                <p class="col-sm-12 col-md-6 col-lg-4">
                    <a (click)="resource.isCollapse ? resource.isCollapse = false : resource.isCollapse = true;">{{ resource.title }} </a>
                </p>
                <div class="col-sm-12 col-md-6 col-lg-4">{{ resource.text }}</div>
                <div class="col-sm-12 col-md-6 col-lg-3" style="text-align:right">
                    <a (click)="cloneResource();" class="icon"><span class="glyphicon glyphicon-book icon" style="padding:2px" ></span></a>
                    <a (click)="deleteResource();" class="icon"><span class="glyphicon glyphicon-trash icon" style="padding:2px"></span></a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-1 subCost">
                    ${{ resource.totalCost }}
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-12">
        <div class="col-sm-12 childEstimateDiv" *ngIf="resource.isCollapse">
            <div class="row">
                <div class="col-sm-12 productDetails">
                    <div class="row">
                        <div class="col-sm-11 col-md-10 col-lg-11">
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control inputEstimate" value="{{ resource.title }}" style="background-color:#f4f4f4">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>