<div>
    <div class="col-sm-12" style="padding: 0px;">
        <div>
            <div class="col-sm-12 col-md-6 col-lg-4 listCard" *ngFor="let product of products" (click)="addProduct(product)">
                <h5><img src="./../../../assets/img/virtual-icon.png" height="23"> {{ product.title }}</h5>
                <p>{{ product.text }}
                </p>
            </div>
        </div>
    </div>
</div>