.listCard{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1), 0 3px 1px -2px rgba(0,0,0,.15), 0 1px 4px 0 rgba(0,0,0,.12);
    padding: 10px;
    margin-bottom: 10px;
    height: 120px;
    overflow: hidden;
    transition: box-shadow .2s ease-in-out;
    transition: background-color .2s ease-in-out;
}
.listCard > h5 {
    font-weight: bold;
}
.listCard > p {
    color:#7B7B7B;
    font-size: 13px;
}
.listCard:hover{
    /*border:1px solid #0072c6;*/
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    cursor: pointer;
    background-color: #FAFAFA;
}
@media only screen and (min-width: 1200px){
.col-lg-4{
    width: 31.6%;
    margin-left: 10px;
}
}
@media only screen
and(min-width: 990px)
and(max-width:1199px)
{
.col-md-6{
    width: 47%;
    margin-right: 15px;
    }
}
