
.button{
    color: #ffffff;
    background:#5F457D;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 1px 4px 0 rgba(0,0,0,0.1), 0 2px 1px -1px rgba(0,0,0,0.15);
    border-radius:2px;
    border: none;
    height:36px;
    padding: 0 20px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    width: 100%;
    margin-bottom: 20px;
}

.button:hover{
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
    background: #492C6B;
}

.mainEstimateDiv{
    padding: 25px 5px;
}
.productDetails {
	position: relative;
	/* background: #88b7d5; */
	/* border: 4px solid #c2e1f5; */
}
.productDetails:after, .productDetails:before {
	bottom: 100%;
	left: 5%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.productDetails:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #f4f4f4;;
	border-width: 40px;
	margin-left: -40px;
}
.productDetails:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #f4f4f4;
	/* border-width: 36px;
	margin-left: -36px; */
}
input.inputEstimate{
    background-color: #f4f4f4;
    font-size: 30px;
    height: 45px;
    border: 1px solid transparent;
    color: #505050;
    font-size: 24px;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
    -webkit-transition: background-color .3;
    transition: background-color .3;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control::-moz-placeholder{
    color:#7B7B7B;
}
input.inputEstimate:hover,
input.inputEstimate:focus{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    color: #505050;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.estimate-name input.form-control:hover::-moz-placeholder,
input.inputEstimate:hover::-webkit-input-placeholder{
    color: #dedede;
}
.estimation-range{

}

.estimation-unit {
    font-size: 12px;
    font-weight: normal;
}

.icons{
    text-align: right;
}
.subHeadings>p{
    font-size: 18px;
}
.productDetails{
    /*background-color: #f4f4f4;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.1);
    margin: 15px 0;
    padding: 20px;*/
    position: relative;
    
}
.productImg{
    margin-top: 5px;
}
.clonebtn{
    background: #0072c6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.1);
    border: none;
    color: #fff;
    line-height: 18px;
    margin: 25px 0 12px 0;
    padding: 10px;
    text-align: center;
    transition: background-color .3s;
    width: 100%;
    
}
.deletebtn{
    background: #0072c6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.1);
    border: none;
    color: #fff;
    line-height: 18px;
    margin: 7px 0 12px 0;
    padding: 10px;
    text-align: center;
    transition: background .3s;
    width: 100%;
    
}
.infoDiv{
    padding-left: 0px;
    margin-top: 10px;
}
.infoDiv p a{
    font-size: 15px;
    color: #5F457D;
}
.infoDiv p a:hover{
    text-decoration: none;
    cursor: pointer;
    color:#492C6B;
}
.infoDiv p a i {
    color: #5F457D;
    margin-right: 5px;
}
.services{
    margin-top: 20px;
    padding-left: 0px;
}
.selectBox{
    margin-left: 10px;
}
.selectBox select{
    border-radius: 0px !important;
}
.headers p a{
    font-size: 17px;
    color: #5F457D;
}
.headers a span{
    color: #5F457D;
}
.headers a:hover {
    text-decoration: none;
    color:#492C6B;
    cursor: pointer;
}
hr{
    margin: auto;
    /* border: 1px solid; */
}
.productDetails hr{
    border: 1px solid #dcdcdc;
    margin: 15px 20px;
}
.estimation{
    margin-top: 15px;
    font-weight: bold;
}
.estimation-symbol{
    font-size:20px;
    text-align:center;
}
.resource-total{
    text-align:right;
    font-size:18px;
}
.supportPrice{
    padding-top: inherit;
    font-size: 20px;
    text-align: right;
}
select{
    border-radius: 0px;
    font-size: 18px;
}
.exportbtn{
    background: #0072c6;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1), 1px 1px 2px rgba(0,0,0,.1);
    border: none;
    color: #fff;
    line-height: 18px;
    padding: 10px;
    transition: background .3s;
    width: 35%;
}
.programsDiv{
    margin-top: 0px
}
a:hover{
    text-decoration: none;
    cursor: pointer;
}
.childEstimateDiv{
    background-color:#f4f4f4;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12), 0 -1px 2px 0 rgba(0,0,0,.1);
    margin-top: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.has-error .form-control{
    border-color: none;
}

.headers .icon{
    color: #0072c6;
    background-color: #fff;
    font-size: 12px;
}
.headers{
    padding: 10px 0px;
}
.padding{
    padding: 10px 0px;
}
.note{
    padding-left: 0px;
    color: silver;
}
.osPrice{
    text-align: right;
    margin-top: 37px;
    font-size: 17px;
    padding: 0px;
}
.addtionalServices>h3{
    color: #5F457D;
}
.additionalStorage>h3{
    color: #5F457D;
}
.detail{
    padding: 7px;
    font-size: 15px;
}
.detailNote{
    padding-left: 22px;
}
.checkBoxes{
    padding: 0px;
}
.storage{
    padding:0px;
    margin-top: 15px;
}
.addStorage{
    color: #5F457D;
    padding: 0px;
    margin-top: 10px;
}
.total-hr {
    background-color: #4A4A4A;
    height: 2px;
}
.line{
    height: 2px;
    background: #4A4A4A;
    margin: 25px 0px;
}
.services .glyphicon-info-sign{
    color: silver;
}
.information{
    background-color: #fff;
    padding: 8px;
}
.information .glyphicon-info-sign {
    color: white;
    background-color: #5F457D;
    border: 1px solid #5F457D;
    border-radius: 50%;
    margin: 20px 10px;
    font-size: 30px;
}
.bottomLinks{
    margin-top: 15px;
    margin-bottom: 15px;
}
.link1{
    font-size: 18px;
    color: #5F457D;    
}
.link2{
    font-size: 18px;
    padding: 0px 25px;
    color: #5F457D;    
}
.prices{
    padding-right: 0px;
}
.prices>div{
    padding-right: 0px;
}
.prices .vmCost{
    font-size: 17px;
    text-align: right;
    padding: 0px;
    margin-bottom: 25px
}
.prices .vmQuantity{
    font-size: 17px;
    text-align: right;
    padding: 0px;
    margin-bottom: 25px    
}
.prices .form-group{
    padding-right: 0px;
    margin-bottom: 25px;
    float: right    
}
.headers .icon {
    padding: 0px 10px;
}
.osBox{
    background: inherit;
    display: inline;
    z-index: 1;
    padding: 0px .2rem 0px 0px;
}
.subCost{
    text-align: right;
    font-size: 20px;
}