<div class="mainProductDiv" id={{resource.shortKey}}>
    <div>
        <div class="col-sm-12 col-lg-12 headers">
            <div>
                <p class="col-sm-12 col-md-6 col-lg-4">
                    <a (click)="resource.isCollapse ? resource.isCollapse = false : resource.isCollapse = true;">{{ resource.title }} </a>
                </p>
                <div class="col-sm-12 col-md-6 col-lg-4">{{ machineConfig.OS }} - {{ machineConfig.cpu }} vCPU, {{ machineConfig.ram }} GB Memory</div>
                <div class="col-sm-12 col-md-6 col-lg-3" style="text-align:right">
                    <a (click)="cloneResource();" class="icon"><span class="glyphicon glyphicon-book icon" style="padding:2px" ></span></a>
                    <a (click)="deleteResource();" class="icon"><span class="glyphicon glyphicon-trash icon" style="padding:2px"></span></a>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-1 subCost">
                    ${{ resource.totalCost }}
                </div>
                <div class="col-sm-12">
                    <hr>
                </div>
            </div>
        </div>

    </div>

    <div class="col-sm-12">
        <div class="col-sm-12 childEstimateDiv" *ngIf="resource.isCollapse">
            <div class="row">
                <div class="col-sm-12 productDetails">
                    <div class="row">
                        <!-- <span class="col-sm-1 col-md-2 col-lg-1 productImg"><svg id="virtual-machines" viewBox="0 0 51 47" role="presentation" aria-hidden="true"><path fill="#7A7A7A" d="M32.9,36.9h-1.2H19.9h-0.6c1.6,5.7-0.6,6.6-10.2,6.6v3h12.2h8.9h11.5v-3 C32.2,43.5,31.3,42.7,32.9,36.9z"></path><path fill="#3E3E3E" d="M47.5,0.5H3.2c-1.5,0-2.7,1.3-2.7,2.8v30.8c0,1.5,1.2,2.8,2.7,2.8h44.3c1.5,0,3-1.3,3-2.8V3.3 C50.5,1.8,49,0.5,47.5,0.5z M46.7,4.3v28.7H4.3V4.3l42.4-0.1L46.7,4.3z"></path><polygon fill="#00BBF1" points="46.6,4.3 46.6,33.1 4.3,33.1 4.3,4.3 46.7,4.3"></polygon><path fill="#7A7A7A" d="M4.3,33.1L4.3,33.1L4.3,4.3L43,4.3l4.5-3.8c0,0,0,0,0,0H3.2c-1.5,0-2.7,1.3-2.7,2.8v30.8 c0,1.5,1.2,2.8,2.7,2.8h1.1l4.6-3.8H4.3z"></path><polygon fill="#59B4D9" points="4.3,33.1 4.3,33.1 4.3,4.3 43,4.3 43,4.3 4.3,4.3"></polygon><rect x="9.2" y="43.5" fill="#B0B0B0" width="32.7" height="3"></rect><circle fill="#BAC84A" cx="25.3" cy="2.6" r="0.7"></circle><path opacity="0.9" fill="#FFFFFF" d="M25.5,18.2c0,0-0.1,0-0.1,0l-8.8-5.1c-0.1,0-0.1-0.1-0.1-0.2c0-0.1,0.1-0.2,0.1-0.2l8.7-5 c0.1,0,0.2,0,0.3,0l8.8,5.1c0.1,0,0.1,0.1,0.1,0.2c0,0.1,0,0.2-0.1,0.2l-8.7,5C25.6,18.2,25.5,18.2,25.5,18.2z"></path><path opacity="0.8" fill="#FFFFFF" d="M24.2,30.5c0,0-0.1,0-0.1,0l-8.8-5c-0.1,0-0.1-0.1-0.1-0.2V15.1c0-0.1,0-0.2,0.1-0.2 c0.1,0,0.2,0,0.3,0l8.8,5c0.1,0,0.1,0.1,0.1,0.2v10.1c0,0.1-0.1,0.2-0.1,0.2C24.3,30.5,24.3,30.5,24.2,30.5z"></path><path opacity="0.5" fill="#FFFFFF" d="M26.7,30.5c0,0-0.1,0-0.1,0c-0.1,0-0.1-0.1-0.1-0.2V20.2c0-0.1,0.1-0.2,0.1-0.2l8.8-5 c0.1,0,0.2,0,0.3,0c0.1,0,0.1,0.1,0.1,0.2v10.1c0,0.1-0.1,0.2-0.1,0.2l-8.8,5C26.8,30.5,26.7,30.5,26.7,30.5z"></path></svg></span> -->
                        <div class="col-sm-11 col-md-10 col-lg-11">
                            <form>
                                <div class="form-group">
                                    <input type="email" class="form-control inputEstimate" value="{{ resource.title }}" style="background-color:#f4f4f4">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-11 note"> <span>NOTE:</span> A single VM is bundled with a default 75 GB of Tier 1 Disk Storage</div>
                    </div>
                    <div class="row">
                        <!-- <Pricing Form> -->
                        <form class="form-row">
                            <div class="col-sm-12 services">
                                <div class="col-sm-7 osBox">

                                    <div class="form-group col-sm-6">
                                        <label for="system">OPERATING SYSTEM</label>
                                        <select class="form-control" id="sel1" [(ngModel)]="machineConfig.OS" [ngModelOptions]="{standalone: true}">
                                                  <option *ngFor="let type of OStypes" value="{{type.name}}">{{ type.name }}</option>
                                                </select>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="system">vCPUs  <span class="glyphicon glyphicon-info-sign"></span></label>
                                        <select class="form-control" id="sel1" [(ngModel)]="machineConfig.cpu" [ngModelOptions]="{standalone: true}">
                                                      <option value="1" selected>1</option>
                                                      <option value="2">2</option>
                                                      <option value="3">3</option>
                                                      <option value="4">4</option>
                                                    </select>
                                    </div>
                                    <div class="form-group col-sm-3">
                                        <label for="system">RAM  <span class="glyphicon glyphicon-info-sign"></span></label>
                                        <select class="form-control" id="sel1" [(ngModel)]="machineConfig.ram" [ngModelOptions]="{standalone: true}">
                                                          <option value="1" selected>1 GB </option>
                                                          <option value="2">2 GB</option>
                                                          <option value="3">3 GB</option>
                                                          <option value="4">4 GB</option>
                                                        </select>
                                    </div>

                                </div>
                                <div class="col-sm-5 osPrice">
                                    <span>  ....... $59.52  </span>
                                </div>


                            </div>
                            <div class="col-sm-12" style="padding: 0px">
                                <hr>
                            </div>
                            <div class="addtionalServices col-sm-12">
                                <h3 class="heading">Addtional Services for your VM</h3>

                                <div class="checkBoxes col-sm-12">
                                    <div class="form-check col-sm-12 padding">
                                        <label class="form-check-label">
                                                      <input class="form-check-input checkbox-primary" type="checkbox" value="">
                                                    <b class="detail"> Server Logs: GB Recieved &nsbp </b> Per Log Data GB Recieved ($X.XX) <br>
                                                    <span class="detailNote"> Note: The server logs would be stored on the VM's default Tier 1 disk storage. If you require more space you can add it below. </span>
                                                    </label>
                                        <span style="float: right">..........  $0.00</span>
                                    </div>
                                    <div class="form-check col-sm-12 padding">
                                        <label class="form-check-label">
                                                          <input class="form-check-input checkbox-primary" type="checkbox" value="">
                                                        <b class="detail"> Server Logs: GB Archived &nsbp </b> Per Log Data GB Recieved ($X.XX) <br>
                                                        <span class="detailNote"> Note: The server logs would be stored on the VM's default Tier 1 disk storage. If you require more space you can add it below. </span>
                                                        </label>
                                        <span style="float: right">..........  $0.00</span>
                                    </div>
                                    <div class="form-check col-sm-12 padding">
                                        <label class="form-check-label">
                                                              <input class="form-check-input checkbox-primary" type="checkbox" value="">
                                                            <b class="detail"> Patch Management &nsbp </b> Available for Windows ,Red Hat & CENTOS ($X.XX)
                                                            </label>
                                        <span style="float: right">..........  $0.00</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" style="padding: 0px">
                                <hr>
                            </div>
                            <div class="additionalStorage col-sm-12">
                                <h3 class="heading">Add Additional Storage to your VM</h3>
                                <div class="note">NOTE: Each VM can have a maximum of 6 Volumes and limited to 4 TB each.</div>
                                <div class="col-sm-12 storage">
                                    <div class="col-sm-7" style="padding: 0px;">

                                        <div class="form-group col-sm-6" style="padding-left: 0px">
                                            <label for="system">STORAGE TYPE</label>
                                            <select class="form-control" id="sel1">
                                                          <option *ngFor="let storage of storageTypes">{{ storage.name }}</option>
                                                        </select>
                                        </div>
                                        <div class="form-group col-sm-3">
                                            <label for="system">SIZE</label>
                                            <select class="form-control" id="sel1">
                                                              <option>1</option>
                                                              <option>2</option>
                                                              <option>3</option>
                                                              <option>4</option>
                                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 osPrice">
                                        <span>  ....... $59.52  </span>
                                    </div>


                                </div>
                                <div class="addStorage col-sm-12">
                                    <a (click)="addStorage()"> <span class="glyphicon glyphicon-plus"></span>  ADD ANOTHER STORAGE TYPE</a>
                                </div>

                            </div>
                        </form>
                        <!-- <Pricing Form> -->
                    </div>


                    <div class="line col-sm-12">
                    </div>



                    <div class="col-sm-12">
                        <div class="information col-sm-9">
                            <div class="col-sm-1">
                                <span class="glyphicon glyphicon-info-sign"></span>
                            </div>
                            <div class="col-sm-11">
                                <h3>
                                    Other products typically purchase with a VM
                                </h3>
                                <div style="color: silver">
                                    <b>Click on a product to add it to your estimate</b>
                                </div>
                                <div class="bottomLinks">
                                    <a class="link1">Vulnerability</a>
                                    <a class="link2">Backups</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 prices">
                            <div class="col-sm-12">
                                <div class="col-sm-6 vmCost">Per VM Cost</div>
                                <div class="col-sm-6 vmCost">$0.00</div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6 vmQuantity">Quantity</div>
                                <div class="col-sm-4 form-group">
                                    <input class="form-control" [(ngModel)]="resource.quantity" type="number" min="0">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="col-sm-6 vmCost">Total VM(s) Cost</div>
                                <div class="col-sm-6 vmCost">$0.00</div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="row">
                            <div class="col-sm-12 estimation">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="row">
                                            <div class="form-group col-sm-4 col-md-4 col-lg-4">
                                                <input class="form-control" type="number" min="0" max="1000" [(ngModel)]="resource.quantity" (change)="updateTotalCost()">
                                            </div>
                                            <p class="col-sm-1 col-md-1 col-lg-1 estimation-symbol"> x </p>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <div class="form-group estimation-range">
                                                    <input class="form-control" type="number" min="0" max="{{max}}" [(ngModel)]="resource.priceDistribution.distibution" style="text-align: right;background-color: none"
                                                        (change)="updateTotalCost()">
                                                </div>
                                            </div>
                                            <div class="col-sm-3 col-md-3 col-lg-3">
                                                <div class="form-group">
                                                    <select class="form-control estimation-unit" style="font-size: 11px;height: 28px;" [(ngModel)]="resource.priceDistribution.name"
                                                        (change)="changePriceDistribution($event.target.value)">
                                    <option value="hour" selected>Hours</option>
                                    <option value="day">Days</option>
                                    <option value="month">Month</option>
                                </select>
                                                </div>
    
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 resource-total">= ${{ resource.totalCost }}</div>
                                </div>
                            </div>
                        </div> -->
                </div>
                <!-- <div class="col-sm-2">
                        <button class="button" (click)="cloneResource();"><span class="glyphicon glyphicon-book" style="padding:0px"></span> <span style="font-weight:bold"> Clone </span></button>
                        <button class="button" (click)="deleteResource();"><span class="glyphicon glyphicon-trash" style="padding:0px"></span> <span style="font-weight:bold"> Delete </span></button>
                        <div class="infoDiv">
                            <h3>More Info</h3>
                            <p><a><i class="glyphicon glyphicon-usd"></i>  Pricing Info</a></p>
                            <p><a><i class="glyphicon glyphicon-info-sign"></i>  Product Details</a></p>
                            <p><a><i class="glyphicon glyphicon-book"></i>  Documentation</a></p>
                        </div>
                    </div> -->
            </div>
        </div>
    </div>
</div>