<div class="row">
    <div class="col-sm-12 sidebar-offcanvas" id="sidebar" role="navigation">
        <div class="sidebar-nav">
            <ul class="nav">
                <li *ngFor="let product of products"><a (click)="selectProduct(product)" [class.active]="selectedProduct.productsList == product.productsList">{{ product.name }}</a></li>
            </ul>
        </div>
    </div>
</div>