.nav > li {
    font-weight: bold;
    font-size: 15px;
    background-color: #F5F5F5;
    color: white;
    margin-bottom: 1px !important;    
}
.nav > li > a {
    background-color: #F5F5F5;
    color: #747474;
    font-weight: bold;
    font-size: 15px;
    transition: background-color .1s ease-in-out;  
}
.nav > li > :hover{
    background-color: #5F457D;
    color: #ECE2F6;
    cursor: pointer;
}
.active{
    background-color: #5F457D !important;
    color: #ECE2F6 !important;
}