/* You can add global styles to this file, and also import other style files */
/*--------- Roboto @typeface delcarations ---------*/
@font-face {
  /* font-family: 'Roboto-Light'; */
  /* src: url('/dist/fonts/roboto-light-webfont.eot'); */
  /* src: url('../dist/fonts/Roboto-Ligth.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; */
}
@font-face {
  /* font-family: 'Roboto-Medium'; */
  /* src: url('/dist/fonts/roboto-medium-webfont.eot'); */
  /* src: url('../dist/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; */
}
@font-face {
  /* font-family: 'Roboto-Regular'; */
  /* src: url('/dist/fonts/roboto-regular-webfont.eot'); */
  /* src: url('../dist/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; */
}
@font-face {
  /* font-family: 'Roboto-Thin'; */
  /* src: url('/dist/fonts/roboto-thin-webfont.eot'); */
  /* src: url('../dist/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;*/
}

body{
  background-color: #f5f5f5
  /* font-family: 'Roboto-Regular'; */
}

.app-header{
  background-color:#1D2429;
  height:68px;
}

.app-header-logo{
  height: 29px;
  margin-top: 18px;
}

.calc-hero{
  background-color:#5F457D;
  height: 160px;
}

.calc-hero h1 {
  font-size:44px;
  color: #ffffff;
  font-weight: lighter;
}
.calc-hero h2{
  color: #ffffff;
  font-size: 16px;
}

.card{
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  padding: 25px 25px;
  background: #ffffff;
  margin: .5rem 0 1rem 0;
  border-radius: 2px;
}

h3.products{
  padding-top: 0;
  margin-top: 0;
}

label{
  font-weight: normal;
  color: #7B7B7B;
  font-size: 13px;
}

p{
  color: #5D5D5D;
}

select.form-control{
  font-size: 15px;
}

.form-group select.form-control,
.form-group input.form-control{
  border-radius: 3px;
}

span.glyphicon-lg{
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1), 0 1px 4px 0 rgba(0,0,0,0.1), 0 2px 1px -1px rgba(0,0,0,0.15);
  background-color: #5F457D;
  border-radius: 50%;
  color: white;
  transition: all .2s ease-in-out;
}
span.glyphicon-lg:hover{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14), 0 1px 7px 0 rgba(0,0,0,0.12), 0 3px 1px -1px rgba(0,0,0,0.2);
  background: #492C6B;
}

.top-nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.top-nav li {
  float: left;
  height:68px;
}
.top-nav li a {
  display: block;
  color: #d4d4d4;
  text-align: center;
  padding: 24px 16px;
  text-decoration: none;
  cursor: pointer;
}
.top-nav a:hover:not(.active) {
  color:#ffffff;
  background-color: #2C353B;
}
.top-nav .active {
  background-color:#2C353B;
}

.disclaimer{
  font-size: 12px;
  color: #CEC4D9;
  margin: 20px 0 0 0;
  padding: 5px;
  background-color: #5F457D;
  border-radius: 20px;
  text-align: center;
}

footer{
  background-color: #2C353B;
  margin-top: 20px;
  padding: 20px 0;
}
footer ul{
  list-style-type: none;
}
footer ul li{

}
footer ul li a{
  color:#B0B0B0;
  margin:15px 0;
  display: block;
  cursor: pointer;
}
footer ul li a:hover{
  color:#E7E7E7;
  text-decoration: none;
}
